name: capstone-geospatial-ai
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  # --- Core python ---
  - python=3.10
  - pip
  - jupyterlab
  - ipykernel

  # 3. PYTORCH & CUDA (Cho GPU)
  - pytorch=2.1.0
  - torchvision=0.16.0
  - torchaudio=2.1.0
  - pytorch-cuda=12.1

  # --- GIS and data science ---
  - gdal=3.7.2
  - rasterio=1.3.9
  - pandas
  - scikit-learn
  - matplotlib
  - pillow
  - pyyaml
  - numpy=1.26.4
  - seaborn

  # --- Pip packages ---
  - pip:
    - opencv-python-headless==4.10.0.84
    - albumentations==1.4.0 
    - skillsnetwork
    - tqdm